
#past-trips-header{
  text-align: center;
  font-size: 2.5vw;
  font-weight: bold;
  background-color: #53d2dc;
}
.map {
  height:270px; 
  width:270px; 
}

#past-trips-container{
  height: 400px;
  width:100%;
  overflow: scroll;
  padding-left:15px;
  padding-right:15px;
}

.past-trip{
  border: 1px solid #3196e2; 
  padding:4px;
  display: inline-block;
  margin:8px;
  width:270px;
  overflow: hidden;
}

#create-trip{
  background-color:#3196e2;
  border-radius:25%;
  text-decoration: none;
  color:white;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  padding:20px;
}

#create-trip-button{
  text-align:center;
  margin:40px;
}

#create-trip:hover{
  opacity: 0.5;
}
