@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Raleway&display=swap');

.Justine{
    .content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

h1{
  color:darkslategrey;
  font-family:Questrial;
  margin:auto;
  font-size:85px;
  padding-top:20px;
  text-align:center;
}

h2{
  color:darkslategrey;
  font-family:Questrial;
  font-size:60px;
}
}
////sdsds