.Stop{
  .stop-outline {
    border: solid 2px #fad3a7;
    border-radius: 10px;
    background-color: white;
    height: 100px;
    width: 300px;
    padding: 5px;
    margin: 0px 10px 0 10px 0;
  }
  /*
  #name{
    border: solid 2px #ffb766;
    border-radius: 10px;
    height: 50px;
    width: parent;
    background-color: #ffb766;
  }
  */
  h4{
    text-align: center;

  }
}