@import 'CenterBlock';
@import 'all';

$head-pad: 1rem;
$head-inner-height: 4rem;
$head-height: $head-pad * 2 + $head-inner-height;

.Header {
  @extend %CenterBlock-outer;

  background-color: #eeeeff;
  height: $head-height;

  > .content-wrap {
    @extend %CenterBlock-inner;

    overflow: hidden;
    background-color: #eeffee;
    height: $head-height;
  }

  header {
    padding: $head-pad $leftright-pad;
  }

  h1 {
    font-size: $head-inner-height;
    line-height: $head-inner-height;
    margin: 0;
  }
}
