
.header {
  overflow: hidden;
  background-color: #ffc05f;
  padding: 0px 40px;
}
.header #name {
  float: right;
  color: white;
  text-align: center;
  margin-top:20px;
  font-size: 7vw;
  font-weight: bold;
}

.header img.logo {
  width:8vw;
  height:8vw;
  background-color:white;
  margin:2vw;
  border-radius:25%;
}

#progressbar-container{
  width:100%;
  height: 10vh;
}

#progressbar{
  counter-reset:step;
}

#progressbar li {
  list-style-type:none;
  float:left;
  width:33.33%;
  position:relative;
  text-align:center;
  text-transform: uppercase;
}

#progressbar li a{
  text-decoration: none;
  color: black;
}
#progressbar li a:hover{
  color: #3196e2;
}

#progressbar li:before{
  content:counter(step);
  counter-increment:step;
  width:30px;
  height:30px;
  line-height:30px;
  border:2px solid #ddd;
  display:block;
  text-align:center;
  margin:0 auto 10px auto;
  border-radius:50%;
  background-color:white;
}

#progressbar li:after{
  content:'';
  position:absolute;
  width:100%;
  height:2px;
  background-color:#ddd;
  top:15px;
  left:-50%;
  z-index:-1;
}

#progressbar li:first-child:after{
  content:none;
}

#progressbar li.active{
  color:#3196e2;
}

#progressbar li.active:before{
  border-color:#3196e2;
}

#progressbar li.active + li:after{
  background-color:#3196e2;
}

#map{
  height: 40vw;
  width: 40vw;
}

/* From bootstrap */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}