#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}


#destinations-page #map img
{
  max-width : none;
}

 #destinations-page #map-search-container{
  position:relative;
  padding:5vw;
  display: grid;
  grid-template-columns:50% 50%;
  grid-template-rows: 20% 80%;
}

#destinations-page #map {
  height: 40vw;
  width:40vw;
  position:relative;
  grid-column: 1/span 1;
  grid-row: 1/span 2;
}

#destinations-page #destination-input-form{
  position:relative;
  grid-column: 2/span 2;
  grid-row: 1/span 1;
}

#destinations-page #use-current-address-button{
  grid-column: 2/span 2;
  grid-row: 1/span 1;
  position:relative;
}

#destinations-page #cities-container{
  grid-column: 2/span 2;
  grid-row: 2/span 2;
  position:relative;
  border:2px solid #53d2dc;
  border-radius:10%;
}

.progress-bar-container{
  width:100%;
}

#progressbar{
  counter-reset:step;
}

#progressbar li {
  list-style-type:none;
  float:left;
  width:33.33%;
  position:relative;
  text-align:center;
  text-transform: uppercase;
}

#progressbar li:before{
  content:counter(step);
  counter-increment:step;
  width:30px;
  height:30px;
  line-height:30px;
  border:2px solid #ddd;
  display:block;
  text-align:center;
  margin:0 auto 10px auto;
  border-radius:50%;
  background-color:white;
}

#progressbar li:after{
  content:'';
  position:absolute;
  width:100%;
  height:2px;
  background-color:#ddd;
  top:15px;
  left:-50%;
  z-index:-1;
}

#progressbar li:first-child:after{
  content:none;
}

#progressbar li.active{
  color:#3196e2;
}

#progressbar li.active:before{
  border-color:#3196e2;
}

#progressbar li.active + li:after{
  background-color:#3196e2;
}


