#header {
    padding: 5vh;
    text-align: center;
}

#interests {
    margin: 5vh 25vw 5vh 25vw;
    overflow-y: scroll;
    height: 50vh;
    padding: 50px;
    outline: thin solid #000000;
}

.btn {
  margin: 10px;
  align-items: center;
  background-color: rgba(222,222,222, 0.4);
  border-color: rgba(0,0,0,0.5);
  border-radius: 50px;
  border-width: 1px;
  padding: 20px;
  outline: none;
  font-size: 20px;
}

.btn.active {
  background-color: #53D2DC;
  border-color: #3196E2;
}

p {
    text-align: center;
    font-size: 20px;
}