 #interests-section{
  position: relative;
  height: 50vh;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 5% 40% 10% 45%;
}

#interests-buttons {
  position: relative;
  margin: 0 15vh 0 15vh;
  grid-column: 2;
  grid-row: 2/span 4;
  overflow-y: scroll;
  padding: 50px;
  border: 2px solid #ff826c;
  border-radius: 10%;
}

.interestBtn {
  margin: 10px;
  align-items: center;
  background-color: rgba(222,222,222, 0.4);
  border-color: rgba(0,0,0,0.5);
  border-radius: 50px;
  border-width: 2px;
  padding: 20px;
  outline: none;
  font-size: 20px;
}

.interestBtn.active {
  background-color: #53D2DC;
  border: 2px solid #3196E2;
}

p {
  text-align: center;
  font-size: 20px;
}

#next-button{
  position: relative;
  grid-column: 3;
  grid-row: 3;
  left: 5%;
  height: 3vw;
  width:10vw;
  background-color:#3196e2;
  border-radius:50px;
  text-decoration: none;
  color:white;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  padding-top: 6px;
}

#search-interest {
  position: relative;
  grid-column: 2;
  grid-row: 1;

  margin: auto auto 12px auto;
  width: 50%;

  font-size: 16px;
  border: 1px solid #ddd;
}
