#map{
  height:500px; /* change to 40 vw */
  width:500px; /* 5 vw padding*/
}

.route-container{
  width: 1500px;
  padding: 0 15px 0 15px;
  margin: 20px auto 0 auto;
  margin-right:auto;
  margin-left:auto;
  display:flex;
}

.box-outline {
  border: solid 2px #fad3a7;
  border-radius: 10px;
  background-color: white;
  height: 500px;
  width: 350px;
  margin: 0 0 0 30px;
}

.panel-title{
  border-radius: 10px;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}

#box-outline-stops{
  border: solid 2px #c2edda;
}

#schedule{
  border: solid 2px #68d388;
  background-color: #68d388;
}

#stops{
  border: solid 2px #ffb766;
  background-color: #ffb766;
}

h3.box-outline{
  text-align: center;
}

.time-distance-title{
  float:left;
  text-align: center;
}

.time-distance-outline{
  border: solid 2px #c2edda;
  border-radius: 10px;
  background-color: #c2edda;
  height: 130px;
  width: 350px;
  margin: 10px 0 10px 30px;
}
  
.time-distance-field{
  float: right;
  border: solid 2px #c2edda;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  background-color: white;
  margin: 2px 2px 2px 0;
}

.rec-btn{
  display:block;
  border: solid 2px #fad3a7;
  border-radius: 10px;
  background-color: white;
  height: 75px;
  width: 300px;
  padding: 5px;
  margin: 0 auto 10px auto;
}