#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}


.header {
  overflow: hidden;
  background-color: #ffc05f;
  padding: 20px 40px;
}
.header a {
  float: left;
  color: white;
  text-align: center;
  padding:14px;
  text-decoration: none;
  font-size: 7vw;
  font-weight: bold;
  line-height: 25px;
  border-radius: 4px;
}

.header img.logo {
  width:5vw;
  height:5vw;
  animation: move 4s linear infinite;
}

@keyframes move{
    0%{
        transform:translate(0);
        opacity:0;
    }
    25%{
        opacity:1
    }
    50%{
        transform:translate(10vw);
        opacity:0;
    }
    100%{
        opacity:0;
    }
}

.header-right {
  float: right;
}

#destinations-page #map img
{
  max-width : none;
}

 #destinations-page #map-search-container{

    position:relative;
    padding:5vw;
    display: grid;
    grid-template-columns:50% 50%;
}

#destinations-page #map {
  height: 40vw;
  width:40vw;
  position:relative;
  grid-column: 1/span 1;
}

#destinations-page #destination-input-form{
  position:relative;
  grid-column: 2/span 2;
  border:2px solid #ff826c;
  border-radius:10%;
  width:40vw;
  height:35vw;
  overflow: scroll;
}

#destinations-page .input-and-button{
  width:100%;
  position:relative;
  text-align: center;
}


#destinations-page .location-label{
    text-align: center;
    font-size:2vw;
    font-weight: bold;
    background-color: #ff826c;
    padding-left:3vw;
    padding-right:3vw;
    border-radius:15%;
}

#destinations-page .location{
    border:1px solid black;
    margin:20px;
    height:6vw;
    width:35vw;
    
}
#destinations-page #destinations-container .destination-photo{
    display:inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#destinations-page #destinations-container .destination-info{
    display:inline-block;
}



.progress-bar-container{
    width:100%;
}
#progressbar{
    counter-reset:step;
}

#progressbar li {
    list-style-type:none;
    float:left;
    width:33.33%;
    position:relative;
    text-align:center;
    text-transform: uppercase;
}

#progressbar li:before{
    content:counter(step);
    counter-increment:step;
    width:30px;
    height:30px;
    line-height:30px;
    border:2px solid #ddd;
    display:block;
    text-align:center;
    margin:0 auto 10px auto;
    border-radius:50%;
    background-color:white;
}

#progressbar li:after{
    content:'';
    position:absolute;
    width:100%;
    height:2px;
    background-color:#ddd;
    top:15px;
    left:-50%;
    z-index:-1;
}

#progressbar li:first-child:after{
    content:none;
}

#progressbar li.active{
    color:#3196e2;
}

#progressbar li.active:before{
    border-color:#3196e2;
}

#progressbar li.active + li:after{
    background-color:#3196e2;
}


