#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.btn {
  margin: 10px;
  align-items: center;
  background-color: #DDDDDD;
  border-color: #FFFFFF;
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;
  outline: none;
}

.btnActive {
  margin: 10px;
  align-items: center;
  background-color: #68d388;
  border-color: #dc00ff;
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;
  outline: none;
}