# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        # We're building under 1.8 in pom.xml, but errorprone breaks if the actual JDK is 1.8 ¯\_(ツ)_/¯
        java-version: 1.11
    - name: Build ByWay with Maven
      run: mvn -B package --file byway/pom.xml
